<!--Menu-->
<nav class="navbar navbar-expand-lg navbar-light bg-dark sticky-top">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
          <li class="nav-item text-white">
            <img src="{{foto}}" alt="Imagem do usuário" width="90px" height="40px" class="img-fluid rounded-circle">
        </li>
          <li class="nav-item">
            <p class="fw-lighter text-white fs-16 mt-2 ms-2 me-2">{{nome}}</p>
          </li>

          <li *ngIf='auth.adm()' class="nav-item">
           <a [routerLink]="['/user-edit', id]">
            <p class="fw-lighter text-white fs-16 mt-2"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></p>
           </a>
          </li>
        </ul>

         <ul class="navbar-nav ms-auto mb-2 mb-lg-0" >
            <li class="nav-item">
                <a (click)='sair()' class="fw-lighter text-white fs-16">Sair <i class="fa fa-sign-out" aria-hidden="true"></i> </a>
              </li>

         </ul>

      </div>
    </div>
  </nav>
  <!--Menu-->
